body{
    text-align: center;
    background: linear-gradient(135deg,#262626, #666666,  #1a1a1a); /* Gradient background */
    background-size: cover;
    text-underline-position:above;
    font-style:normal;
    font-size: larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-display:inherit;
    font-feature-settings: "afrc";
}
#headersection{
    padding: 10px;
}
#headersection h1{
    font-family: cursive;
}
input{
    font-size:medium;
    border: radius 5%;;
    padding: 10px;
    border-color: beige;
}
#dropbox{
    padding: 10px;
    border-radius: 5px;
    border-color: beige;
    width: 18%;
}
.btn {
    margin: 10px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
  }
  .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* glow */
  .btn::before {
    content: "";
    background: linear-gradient(
      45deg,
      #4d3939, #645345, #363624, #9dc28f,
      #72bbaf, #6b79c0, #c777b6, #ea5e5e
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  /* hover */
  .btn:hover::before {
    opacity: 1;
  }
  .btn:active:after {
    background: transparent;
  }
  .btn:active {
    color: #000;
    font-weight: bold;
  }